{% extends 'home/dashboard2.html' %}
{% load static %}
{% block content %}
      <main class="main-content w-full px-[var(--margin-x)] pb-8">

 
    <div class="flex items-center space-x-4 py-5 lg:py-6">
          <h2
            class="text-xl font-medium text-slate-800 dark:text-navy-50 lg:text-2xl"
          >
            Withdrawals
          </h2>
          <div class="hidden h-full py-1 sm:flex">
            <div class="h-full w-px bg-slate-300 dark:bg-navy-600"></div>
          </div>
          <ul class="hidden flex-wrap items-center space-x-2 sm:flex">
            <li class="flex items-center space-x-2">
              <a
                class="text-primary transition-colors hover:text-primary-focus dark:text-accent-light dark:hover:text-accent"
                href="#"
                >User</a
              >
              <svg
                x-ignore
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5l7 7-7 7"
                />
              </svg>
            </li>
            <li>Withdrawals</li>
          </ul>
        </div>
<div class="card p-4">
         <div x-data="{activeTab:'tabHome'}" class="tabs flex flex-col">
    <div
      class="is-scrollbar-hidden overflow-x-auto rounded-lg bg-slate-200 text-slate-600 dark:bg-navy-800 dark:text-navy-200"
    >
      <div class="tabs-list flex px-1.5 py-1">
        <button
          @click="activeTab = 'tabHome'"
          :class="activeTab === 'tabHome' ? 'bg-white shadow dark:bg-navy-500 dark:text-navy-100' : 'hover:text-slate-800 focus:text-slate-800 dark:hover:text-navy-100 dark:focus:text-navy-100'"
          class="btn shrink-0 space-x-2 px-3 py-1.5 font-medium"
        >
         
          <span> <i class="fas fa-download "></i>Withdrawals</span>
        </button>
      </div>
    </div>
    <div class="tab-content pt-4">
      <div
        x-show="activeTab === 'tabHome'"
        x-transition:enter="transition-all duration-500 easy-in-out"
        x-transition:enter-start="opacity-0 [transform:translate3d(1rem,0,0)]"
        x-transition:enter-end="opacity-100 [transform:translate3d(0,0,0)]"
      >
        <div>
          <div class="mt-6">
              <div
                x-data
                x-init="$el._x_grid =  new Gridjs.Grid({
                from: $refs.table,
                sort: false,
                search: true,
                pagination: {
    limit: 7
  },
              }).render($refs.wrapper);"
              >
                <div class="is-scrollbar-hidden min-w-full overflow-x-auto">
                  <table x-ref="table" class="w-full text-left">
                    <thead>
                      <tr>
                       
                                                 <th  class="whitespace-nowrap rounded-l-lg bg-slate-200 px-2 py-3 font-semibold text-slate-800 dark:bg-navy-800 dark:text-navy-100">Name</th>
                                                <th  class="whitespace-nowrap bg-slate-200  px-2 py-3 font-semibold text-slate-800 dark:bg-navy-800 dark:text-navy-100">Status</th>
                                                <th  class="whitespace-nowrap bg-slate-200 px-2 py-3 font-semibold text-slate-800 dark:bg-navy-800 dark:text-navy-100">Date</th>
                                                <th  class="whitespace-nowrap bg-slate-200 px-2 py-3 font-semibold text-slate-800 dark:bg-navy-800 dark:text-navy-100">Account Number</th>
                                                <th  class="whitespace-nowrap bg-slate-200 px-2 py-3 font-semibold text-slate-800 dark:bg-navy-800 dark:text-navy-100">Amount</th>                     
                                            </tr>
                    </thead>
                    <tbody>
                      {% for User_Withdrawal in object_list %}
                      {% if user.id == User_Withdrawal.name.id %}
                      <tr>
                        <td>{{ user.username|upper }}</td>
                        <td>{{ User_Withdrawal.withdrawal_status }}</td>
                        <td>{{ User_Withdrawal.date }}</td>
                        <td>{{ User_Withdrawal.account_number }}</td>
                        <td>{{ User_Withdrawal.amount_in_USD }}</td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                    

                                                               
                    </tbody> 
                  </table>
                </div>
                <div><div x-ref="wrapper"></div></div>
              </div>
            </div>
        
        </div>
      </div>
      <div
        x-show="activeTab === 'tabProfile'"
        x-transition:enter="transition-all duration-500 easy-in-out"
        x-transition:enter-start="opacity-0 [transform:translate3d(1rem,0,0)]"
        x-transition:enter-end="opacity-100 [transform:translate3d(0,0,0)]"
      >
        <div>
          <div class="mt-6">
              <div
                x-data
                x-init="$el._x_grid =  new Gridjs.Grid({
                from: $refs.table,
                sort: false,
                search: true,
                pagination: {
    limit: 7
  },
              }).render($refs.wrapper);"
              >
                <div class="is-scrollbar-hidden min-w-full overflow-x-auto">
                  <table x-ref="table" class="w-full text-left">
                    <thead>
                      <tr>
                       
                                                 <th  class="whitespace-nowrap rounded-l-lg bg-slate-200 px-2 py-3 font-semibold text-slate-800 dark:bg-navy-800 dark:text-navy-100">Name</th>
                                                <th  class="whitespace-nowrap bg-slate-200  px-2 py-3 font-semibold text-slate-800 dark:bg-navy-800 dark:text-navy-100">Status</th>
                                                <th  class="whitespace-nowrap bg-slate-200 px-2 py-3 font-semibold text-slate-800 dark:bg-navy-800 dark:text-navy-100">Date</th>
                                                <th  class="whitespace-nowrap bg-slate-200 px-2 py-3 font-semibold text-slate-800 dark:bg-navy-800 dark:text-navy-100">Account Number</th>
                                                <th  class="whitespace-nowrap bg-slate-200 px-2 py-3 font-semibold text-slate-800 dark:bg-navy-800 dark:text-navy-100">Amount</th>                     
                                            </tr>
                    </thead>
                    <tbody>
                      {% for User_Withdrawal in object_list %}
                      {% if user.id == User_Withdrawal.name.id %}
                      <tr>
                        <td>{{ user.username|upper }}</td>
                        <td>{{ User_Withdrawal.withdrawal_status }}</td>
                        <td>{{ User_Withdrawal.date }}</td>
                        <td>{{ User_Withdrawal.account_number }}</td>
                        <td></td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                    

                                                               
                    </tbody> 
                  </table>
                </div>
                <div><div x-ref="wrapper"></div></div>
              </div>
            </div>
        </div>
      </div>
      <div
        x-show="activeTab === 'tabMessages'"
        x-transition:enter="transition-all duration-500 easy-in-out"
        x-transition:enter-start="opacity-0 [transform:translate3d(1rem,0,0)]"
        x-transition:enter-end="opacity-100 [transform:translate3d(0,0,0)]"
      >
        <div>
           <div>
             <div
                x-data
                x-init="$el._x_grid =  new Gridjs.Grid({
                from: $refs.table,
                sort: false,
                search: false,
                pagination: {
    limit: 5
  },
              }).render($refs.wrapper);"
              >
                <div class="is-scrollbar-hidden min-w-full overflow-x-auto">
                  <table x-ref="table" class="w-full text-left">
                    <thead>
                      <tr>
                       
                                                 <th  class="whitespace-nowrap rounded-l-lg bg-slate-200 px-2 py-3 font-semibold text-slate-800 dark:bg-navy-800 dark:text-navy-100">Date/Time</th>
                                                <th  class="whitespace-nowrap bg-slate-200  px-2 py-3 font-semibold text-slate-800 dark:bg-navy-800 dark:text-navy-100">Trans. ID</th>
                                                <th  class="whitespace-nowrap bg-slate-200 px-2 py-3 font-semibold text-slate-800 dark:bg-navy-800 dark:text-navy-100">Plan</th>
                                                <th  class="whitespace-nowrap bg-slate-200 px-2 py-3 font-semibold text-slate-800 dark:bg-navy-800 dark:text-navy-100"> Amount</th>
                                                <th  class="whitespace-nowrap bg-slate-200 px-2 py-3 font-semibold text-slate-800 dark:bg-navy-800 dark:text-navy-100">ROI Date</th>
                                                <th  class="whitespace-nowrap bg-slate-200 px-2 py-3 font-semibold text-slate-800 dark:bg-navy-800 dark:text-navy-100">Profit</th>
                                                <th  class="whitespace-nowrap bg-slate-200 px-2 py-3 font-semibold text-slate-800 dark:bg-navy-800 dark:text-navy-100">Status</th>
                                                
                                                
                                            </tr>
                    </thead>
                    <tbody>
                    

                                                               
                    </tbody> 
                  </table>
                </div>
                <div><div x-ref="wrapper"></div></div>
              </div>
            </div>
       </div>
      </div>
    </div>
  </div>
</div>

      </main>
{% endblock %}