# local junk / personal stuff
3uToolsV3/
JuToolsV3/
*.exe
*.msi
*.zip
*.7z
*.lnk
.DS_Store

# Python/Django
pycache/
*.py[cod]
db.sqlite3

# venvs
.venv*/
venv*/

# collected/static uploads
staticfiles/
media/

# keep app static (theme assets)
!dashboard/static/**
!major/static/**
!profiles/static/**
