<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
      <div style="border-bottom:1px solid #eee">
        <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Captsync</a>
      </div>
      <p style="font-size:1.1em">Name: {{ user.first_name }} {{ user.last_name }}</p>
      <p>You're receiving this email because you requested a password reset for your user account at {{ site_name }}.</p>
      <p>Please go to the following page and choose a new password:</p>
      {% block reset_link %}
      <p>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
      {% endblock %}
      <p>Your username, in case you’ve forgotten: {{ user.get_username }}</p>
      <p style="font-size:0.9em;">Thanks for using our site!</p>
      <hr style="border:none;border-top:1px solid #eee" />
      <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
        <p>The {{ site_name }} team</p>
        <p>119 Scripps Drive, Sacramento, CA, United States, California</p>
      </div>
    </div>
  </div>