{% extends 'index.html' %}
{% load static %}
{% block content %}
<div id="content" class="site-content">
 
      <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-98d7422" data-id="98d7422" data-element_type="column">
    <div class="elementor-widget-wrap">
                </div>
  </div>
            </div>
  </section>
      <section class="elementor-section elementor-top-section elementor-element elementor-element-c2a25f5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c2a25f5" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-542ea25" data-id="542ea25" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-widget-wrap elementor-element-populated">
              <div class="elementor-element elementor-element-ec348b6 elementor-widget elementor-widget-accordion" data-id="ec348b6" data-element_type="widget" data-widget_type="accordion.default">
      <div class="elementor-widget-container">
        <div class="elementor-accordion" role="tablist">
            <div class="elementor-accordion-item">
        <div id="elementor-tab-title-2471" class="elementor-tab-title" data-tab="1" role="tab" aria-controls="elementor-tab-content-2471" aria-expanded="false">
                        <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true">
                            <span class="elementor-accordion-icon-closed"><i class="fas fa-angle-down"></i></span>
              <span class="elementor-accordion-icon-opened"><i class="fas fa-angle-up"></i></span>
                          </span>
                      <a class="elementor-accordion-title" href="">How can I purchase a package?</a>
        </div>
        <div id="elementor-tab-content-2471" class="elementor-tab-content elementor-clearfix" data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-2471"><p>Buying package is very simple. Just sign up and login in it will open your dashboard where you will find option of PLANS. Click on this option and you’ll find all packages. You can click on buy button there, make payment and you’re good to go.</p></div>
      </div>
            <div class="elementor-accordion-item">
        <div id="elementor-tab-title-2472" class="elementor-tab-title" data-tab="2" role="tab" aria-controls="elementor-tab-content-2472" aria-expanded="false">
                        <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true">
                            <span class="elementor-accordion-icon-closed"><i class="fas fa-angle-down"></i></span>
              <span class="elementor-accordion-icon-opened"><i class="fas fa-angle-up"></i></span>
                          </span>
                      <a class="elementor-accordion-title" href="">How much I can earn?</a>
        </div>
        <div id="elementor-tab-content-2472" class="elementor-tab-content elementor-clearfix" data-tab="2" role="tabpanel" aria-labelledby="elementor-tab-title-2472"><p>You can earn total 300% of your investment for the maximum plan. After completion of 300%, your package will get expired. To continue to earn, you need to invest again..</p></div>
      </div>
            <div class="elementor-accordion-item">
        <div id="elementor-tab-title-2473" class="elementor-tab-title" data-tab="3" role="tab" aria-controls="elementor-tab-content-2473" aria-expanded="false">
                        <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true">
                            <span class="elementor-accordion-icon-closed"><i class="fas fa-angle-down"></i></span>
              <span class="elementor-accordion-icon-opened"><i class="fas fa-angle-up"></i></span>
                          </span>
                      <a class="elementor-accordion-title" href="">How do I withdraw my earnings?</a>
        </div>
        <div id="elementor-tab-content-2473" class="elementor-tab-content elementor-clearfix" data-tab="3" role="tabpanel" aria-labelledby="elementor-tab-title-2473"><p>Request a withdrawal from your dashboard after login; make sure you have a valid Crypto Wallet Address.</p></div>
      </div>
            <div class="elementor-accordion-item">
        <div id="elementor-tab-title-2474" class="elementor-tab-title" data-tab="4" role="tab" aria-controls="elementor-tab-content-2474" aria-expanded="false">
                        <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true">
                            <span class="elementor-accordion-icon-closed"><i class="fas fa-angle-down"></i></span>
              <span class="elementor-accordion-icon-opened"><i class="fas fa-angle-up"></i></span>
                          </span>
                      <a class="elementor-accordion-title" href="">I sent the wrong amount when purchasing my package?</a>
        </div>
        <div id="elementor-tab-content-2474" class="elementor-tab-content elementor-clearfix" data-tab="4" role="tabpanel" aria-labelledby="elementor-tab-title-2474"><p>If you sent the wrong amount when purchasing your package your account will not be activated automatically. Contact our support department on support@Altavellum.org and include a screenshot of your payment, TX Hash, Username and the package you wanted to purchase.</p></div>
      </div>
            <div class="elementor-accordion-item">
        <div id="elementor-tab-title-2475" class="elementor-tab-title" data-tab="5" role="tab" aria-controls="elementor-tab-content-2475" aria-expanded="false">
                        <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true">
                            <span class="elementor-accordion-icon-closed"><i class="fas fa-angle-down"></i></span>
              <span class="elementor-accordion-icon-opened"><i class="fas fa-angle-up"></i></span>
                          </span>
                      <a class="elementor-accordion-title" href="">How does the platform generates profit?</a>
        </div>
        <div id="elementor-tab-content-2475" class="elementor-tab-content elementor-clearfix" data-tab="5" role="tabpanel" aria-labelledby="elementor-tab-title-2475"><p>Altavellum generates profit by trading in Top10 crypto currencies. It’s AI trading bot generates profit via arbitrage trading.</p></div>
      </div>
            <div class="elementor-accordion-item">
        <div id="elementor-tab-title-2476" class="elementor-tab-title" data-tab="6" role="tab" aria-controls="elementor-tab-content-2476" aria-expanded="false">
                        <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true">
                            <span class="elementor-accordion-icon-closed"><i class="fas fa-angle-down"></i></span>
              <span class="elementor-accordion-icon-opened"><i class="fas fa-angle-up"></i></span>
                          </span>
                      <a class="elementor-accordion-title" href="">How to upgrade package?</a>
        </div>
        <div id="elementor-tab-content-2476" class="elementor-tab-content elementor-clearfix" data-tab="6" role="tabpanel" aria-labelledby="elementor-tab-title-2476"><div class="elementor-accordion-item"><div id="elementor-tab-content-7022" class="elementor-tab-content elementor-clearfix elementor-active" role="tabpanel" data-tab="2" aria-labelledby="elementor-tab-title-7022"><p>Upgrades can only be made by paying full amount of your existing package or to the next higher package only.</p></div></div><div class="elementor-accordion-item"><div id="elementor-tab-title-7023" class="elementor-tab-title" role="tab" data-tab="3" aria-controls="elementor-tab-content-7023" aria-expanded="false"> </div></div></div>
      </div>
            <div class="elementor-accordion-item">
        <div id="elementor-tab-title-2477" class="elementor-tab-title" data-tab="7" role="tab" aria-controls="elementor-tab-content-2477" aria-expanded="false">
                        <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true">
                            <span class="elementor-accordion-icon-closed"><i class="fas fa-angle-down"></i></span>
              <span class="elementor-accordion-icon-opened"><i class="fas fa-angle-up"></i></span>
                          </span>
                      <a class="elementor-accordion-title" href="">Who are the owners of Altavellum?</a>
        </div>
        <div id="elementor-tab-content-2477" class="elementor-tab-content elementor-clearfix" data-tab="7" role="tabpanel" aria-labelledby="elementor-tab-title-2477"><div class="elementor-accordion-item"><div id="elementor-tab-content-7022" class="elementor-tab-content elementor-clearfix elementor-active" role="tabpanel" data-tab="2" aria-labelledby="elementor-tab-title-7022"><p>We are a group of successful businessman from UK and the USA from network marketing and traditional finance backgrounds who own Altavellum Together. No one person owns this company.</p></div></div></div>
      </div>
            <div class="elementor-accordion-item">
        <div id="elementor-tab-title-2478" class="elementor-tab-title" data-tab="8" role="tab" aria-controls="elementor-tab-content-2478" aria-expanded="false">
                        <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true">
                            <span class="elementor-accordion-icon-closed"><i class="fas fa-angle-down"></i></span>
              <span class="elementor-accordion-icon-opened"><i class="fas fa-angle-up"></i></span>
                          </span>
                      <a class="elementor-accordion-title" href="">Status of my withdrawal?</a>
        </div>
        <div id="elementor-tab-content-2478" class="elementor-tab-content elementor-clearfix" data-tab="8" role="tabpanel" aria-labelledby="elementor-tab-title-2478"><div class="elementor-accordion-item"><div id="elementor-tab-content-7022" class="elementor-tab-content elementor-clearfix elementor-active" role="tabpanel" data-tab="2" aria-labelledby="elementor-tab-title-7022"><p>You can check the status of you withdrawal in your back office by going to relevant Wallet section. It will be showing Pending, Approved (along with transaction hash) or Rejected.</p></div></div></div>
      </div>
              </div>
      </div>
      </div>
        </div>
  </div>
            </div>
  </section>
          </div>
        </div>
    </div> <!-- ast-container -->
</div><!-- #content -->


   {% endblock %}